<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TempFolderPath" value="c:/temppage/" />
		<add key="PageViewBaseUrlTemplate" value="https://dumps.wikimedia.org/other/pageviews/{0}/{1}-{2}/pageviews-{3}-{4}.gz" />
		<add key="FileNameTemplate" value="pageviews-{0}-{1}.gz" />
		<add key="FileNameRawTemplate" value="pageviews-{0}-{1}" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>